/* General styles */
.App {
    margin: 0 2rem;
    text-align: center;
}

.loadingContainer {
    text-align: center;
}

.logoContainer {
    height: 30vh;
}

.logo {
    height: 100%;
    width: auto;
}

.AppMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    font-size: 1.5rem;
}

button {
    background-color: rgb(243, 201, 31);
    color: rgb(255, 255, 255);
    border: rgb(243, 201, 31);
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    outline: inherit;
}

/* Controls buttons */
.controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBar {
    border: 0.15rem solid rgb(243, 201, 31);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.selectButton {
    background-color: rgb(243, 201, 31);
    color: rgb(255, 255, 255);
    border: 0.15rem solid rgb(243, 201, 31);
    border-radius: 0.5rem;
    font-weight: 600;

}

/* Character card */
.characterContainer {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 2rem auto;
    width: 18rem;
    min-width: 18rem;
}

.characterName {
    font-size: 1.5rem;
}

.characterImage {
    height: 15rem;
    width: auto;
    padding: 0.5rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
}

/* Media Queries */
/* screens up to 320px wide */
@media only screen and (max-width: 320px) {
    .characterContainer {
        width: 14rem;
        max-width: 16rem;
    }
}

/* screens larger than 320px wide and up to 768px wide */
@media only screen and (min-width: 321px) and (max-width:768px) {
    .characterContainer {
        width: 18rem;
        max-width: 18rem;
    }
}

/* screens 768px and above */
@media only screen and (min-width: 769px) {
    .characterContainer {
        width: 40rem;
        max-width: 45rem;
    }
}